@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --main-color: rgba(208, 112, 196, 0.6);
  --alt-color: rgba(74, 181, 210, 0.6);
  /*Alternate Options:
    rgba(175, 58, 161, 0.6)
    rgba(208, 112, 196, 0.6)
  */
}

#page {
  position: relative;
  min-height: 100vh;
}

#non-footer-content {
  /* height of footer + 15px for extra padding */
  padding-bottom: 50px;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

.header {
  /* -webkit-sticky added for Safari support */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  color: rgb(255,255,255);
  background: rgb(0,0,0);
  height: 100px;
  padding: 30px 30px 30px 50px;
  display: flex;
  justify-content: space-between;
}

.footer {
  color: rgb(255,255,255);
  background: rgb(0,0,0);
  font-size: 12px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

nav div {
  display: flex;
  align-items: center;
}

nav .socialIcons {
  margin-left: 10px;
}

h1 {
  font-size: 30px;
}

nav{
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

nav .socialIcons a {
  margin: 0 5px;
}

nav a {
  margin: 0 20px;
  display: flex;
  align-items: center;
}

.heroBanner {
  padding: 30px;
  background-image: linear-gradient(0deg,
  rgba(255, 255, 255, 1),
  transparent),
  linear-gradient(135deg,
  var(--main-color),
  var(--alt-color)), 
    url("../public/HexHero.png");
  min-height: 420px;
}

#heroTitle {
  font-size: 42px;
  color: black;
  border-bottom: 5px solid rgba(175, 58, 161, 1);
  width: 50%;
  margin-bottom: 20px;
}

#heroText {
  background-image: linear-gradient(90deg,
  rgba(255, 255, 255, 1),
  rgba(255, 255, 255, .80));
  box-shadow: -3px 3px 10px rgb(0, 0, 0, .75);
  border-radius: 5px;
  margin: 50px auto;
  padding: 30px;
  width: 80%;
}

#heroDescription {
  font-size: 28px;
}

#skills {
  padding: 50px;
  display: grid;
  grid-template-columns: 50% 50%;
}

#skills h2 {
  font-size: 30px;
  color: black;
  border-bottom: 5px solid rgba(175, 58, 161, 1);
  width: 75%;
  margin-bottom: 20px;
}

#skillsDescription {
  grid-row: 1;
  grid-column: 1;
}

#skillsDisplay-flex {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#skillsDisplay-flex div{
  background-color: var(--main-color);
  margin: 10px;
  padding: 10px;
  width: fit-content;
  border-radius: 5px;
  /* box shadow might make it look too much like a button 
  box-shadow: -1px 1px 3px rgb(0, 0, 0, .75); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
