@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

header {
  color: rgb(255,255,255);
  background: rgb(0,0,0);
  height: 100px;
  padding: 30px 30px;
  display: flex;
  justify-content: space-between;
}

nav div {
  display: flex;
  align-items: center;
}

nav .socialIcons {
  margin-left: 10px;
}

h1 {
  font-size: 30px;
}

nav{
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

nav .socialIcons a {
  margin: 0 5px;
}

nav a {
  margin: 0 20px;
  display: flex;
  align-items: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
